{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    {{ $image := resources.Get "/images/alex-wellnitz-free.png" }}
    {{ $image = $image.Resize "150x150 webp q90" }}
    
    <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" class="profile-pic" alt="Alex Wellnitz">    
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <section class="entry-content">
        <p>{{ .Content | markdownify }}</p>
    </section>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
